Manually create a list containing all the integers between 0 and 10 (including 0 and excluding 10) and save it to a variable.

Now create the same list using the range function.

In [4]:
zero_to_ten = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
zero_to_ten = [i for i in range(10)]

Using that list, create a list containing every odd number between 0 and 10.

Create a new list containing the first 2 elements of that list.

In [6]:
odds = [i for i in zero_to_ten if i % 2 == 1]
first_two_odds = odds[:2]
first_two_odds

[1, 3]

Print the last element of the list created below

In [7]:
import random #ignore this
x = [1,5,2,9,4]
random.shuffle(x)

# insert code here
print(x[-1])

9

Using a list comprehension, create a list containing only the elements from `a` that are not in `b`

In [8]:
a = [1,4,6,8,2,5,7,54]
b = [6,5,54]

# insert code here
c = [i for i in a if i not in b]
c

[1, 4, 8, 2, 7]

Add a 0 to the end of the list you just created.

In [9]:
c.append(0)

Using the `join()` function for strings, print the list you just created with a "-" between every element

In [12]:
string_list = [str(i) for i in c]
print('-'.join(string_list))

1-4-8-2-7-0

Create a list containing every 3rd character in the following string.

In [17]:
text = 'descartes was wrong, the uncus is the seat of the soul'

# insert code here
every_third_char = list(text[::3])
every_third_char

['d',
 'c',
 't',
 ' ',
 's',
 'r',
 'g',
 't',
 ' ',
 'c',
 ' ',
 ' ',
 'e',
 'e',
 ' ',
 ' ',
 'e',
 'o']

Modify that list so that there are no repeat elements (make it so each element appears only once).

In [18]:
no_repeats = list(set(every_third_char))
no_repeats

[' ', 's', 'o', 'd', 't', 'r', 'g', 'c', 'e']

Sort that list alphabetically in one line of code.

In [20]:
no_repeats.sort()
no_repeats

[' ', 'c', 'd', 'e', 'g', 'o', 'r', 's', 't']

Save that list to a dict under the key "my list"

In [22]:
third_char_no_reps = {'my list' : no_repeats}
third_char_no_reps

{'my list': [' ', 'c', 'd', 'e', 'g', 'o', 'r', 's', 't']}

Create a list containing tuples of each key, value pair in the following dict

In [24]:
a = {'one': 1, 'two': 3, 'four': 7, 'all': [1,3,7]}

# insert code here
key_val_pairs = list(a.items())
key_val_pairs

[('one', 1), ('two', 3), ('four', 7), ('all', [1, 3, 7])]

Sum each pair of elements of the following two lists (look up the `zip()` function)

In [26]:
a = [1,6,89,2,5]
b = [5,12,0,43,5]

# insert code here
summed_pairs = [i + j for i, j in zip(a, b)]
summed_pairs

[6, 18, 89, 45, 10]

The fibonacci sequence is a list of numbers where each element is formed by adding together the two before it (e.g. [1,2,3,5,8,13,21,34, etc...]).

Write an expression that will append the next element in the sequence given a list containing the beginning of a fibonacci sequence.

In [27]:
# for example if i give you this list, write an expression that you could run multiple times to continue the sequence (dont just write 55+89)
a = [1,2,3,5,8,13,21,34,55,89]

# insert code here
a.append(sum(a[-2:]))
a

[1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

Now for a harder one, courtesy of [Project Euler](https://projecteuler.net/archives). This is solvable using only built-in python functions (you may have to do some googling), and what we've discussed about lists. You may use list comprehensions.

If we list all the natural numbers below 10 that are multiples of
3 or 5, we get 3, 5, 6, and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [28]:
up_to_1k = list(range(1000))
multipled_of_3_or_5 = [i for i in up_to_1k
                       if (i % 3 == 0) | (i % 5 == 0)]
summed_numbers = sum(multipled_of_3_or_5)
summed_numbers

233168

I hope you can start to see how useful it would be if there was a way to run the same block of code an arbitrary number of times, perhaps with slight modifications each time. This is what we use loops for, which we will cover tomorrow.